{% extends "layout.html" %} {% block content %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        -->
</body>

<p align="center">
    <b>
    <FONT FACE="Optima" SIZE=7 COLOR=#064F56 >
        Objetivos Académicos</FONT></b>
</p>





<!-- Carrusel -->
<div id="carouselExampleIndicators" class="carousel slide mx-auto" data-bs-ride="carousel" style="width: 65rem;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <center>
                <img src="https://www.oas.org/ext/Portals/14/EasyDNNNews/596/300300p2250EDNmainImage.jpg" height="350" width="560">
            </center>
        </div>
        <div class="carousel-item active">
            <center>
                <img src="https://lh3.googleusercontent.com/proxy/FyDUlCDGnZ03EoXArOFjoqitUtv85D03tlktoetZ478LS40zhHT0If5jX5U6r3wG-AAEt9emzdHvUrU8rdodKtt1JlZPvPex4BEmPcPv3efEtCF3qrEyLqIoRGDGQW1ykk5WYeWNmaxra3hKR6oERQSArhO7PuVVwJrtCZciTxJrWzOoZnQ5slGQ9E1xokNgFOpX7kSm"
                    height="350" width="560">
            </center>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>
<br>
<div class="card mx-auto" style="width: 40rem;">

    <div class="card-body">
        <p class="card-text">Formar recursos humanos con un alto nivel académico y técnico en el área de la informática y Programación. Formar profesionales con la capacidad disciplina y vocaciones necesarias para crear desarrollar y adaptar tecnología de computación de la
            manera más convincente para nuestro medio promoviendo el cambio y la Innovación. Promover en los egresados de ciencia de la computación la capacidad para el desempeño de labores de desarrollo y planeamiento.

        </p>
    </div>
</div>
<br>

<!--Acordeon-->
<div class="accordion mx-auto" id="accordionPanelsStayOpenExample" style="width: 50rem;">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Objetivos Académicos
                </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <ul class="ul-vertical">
                    <li>Formar Profesionales, Científicos, impulsores del desarrollo a través de la propuesta de nuevas técnicas computacionales que sean de utilidad a nivel local, nacional e internacional; capaz de ser generadores de puestos de empleo a
                        través de la innovación permanente.</li>
                    <li>Propiciar el desarrollo de Proyectos de Investigación; de interés científico y social. Para contribuir a la generación de conocimiento y del desarrollo sostenible.</li>
                    <li>Propiciar la generación de servicios académicos de calidad consolidando la formación integral en pregrado, y la creación de Maestrías y Doctorados con un alto nivel académico, basado en estándares internacionales.</li>
                    <li>Establecer el intercambio científico de estudiantes y docentes con otras Universidades, Instituciones y Organizaciones del Perú y del Mundo con fines de reciprocidad y cooperación.</li>
                    <li>Garantizar condiciones de trabajo estables y fomentar la capacitación de docentes y Administrativos para garantizar el desarrollo de la escuela en un ambiente de modernidad.</li>
                    <li>Fomentar y estimular la creación intelectual así como la producción científica y tecnológica de bienes y servicios por parte de docentes y estudiantes.</li>
                    <li>Promover e incrementar las actividades de Proyección Social que permitan articular las actividades computacionales con las necesidades sociales.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}